body {
  background-color: aliceblue;
}
main {
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
  justify-content: center;
  background-color: lightgray;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

#heading {
  letter-spacing: 1px;
}

#para {
  display: none;
}
#heading:hover + #para {
  display: block;
}
