.nav-item:hover > a {
  color: black !important;
}
.nav-item {
  padding: 2px;
}
.nav-item:hover {
  background-color: #cccccc;
}
#navbarDropdown:focus {
  outline: none;
}
.text-justified {
  text-align: justify;
  font-size: 15px;
}
.heading {
  font-size: xx-large;
  letter-spacing: 2px;
}

.footer {
  min-height: 120px;
}

.social-icons {
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .social-icons {
    font-size: 1.4rem;
  }
}
.footer > p {
  font-size: 18px;
}

a {
  color: #666666;
}
a:hover {
  color: #a0a0a0;
}
